.right{
    width: 50%;
    float: right;
}
.img{
    height: 350px;
    float: right;
    margin-top:25px;
}
.left{
    width: 500px;
    height: 500px;
    margin-top: 60px;
    padding-left: 20px;
    float: left;
    
}
.p{
    border-style: solid;
    width: 23%;
    border: none;
    background-color: rgb(218, 218, 238);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    margin-top: 70px;
}
.b{
    border: none;
    border-radius:8px;
    background-color: rgb(94, 94, 235);
    margin-top: 20px;
    padding: 10px;
    height: 40px;
    float: left;
    width: 150px;

    
}
.s{ border: none;
    border-radius:8px;
    background-color: #eaf5f7;
    float: left;
    align-items: center;
    
    padding: 10px;
    margin: 20px;
    
}
.d1{
float: left;
}
.nummber1{
    margin-left: 19px;
    font-size: 40px;
    color: blue;
    float: left;
    text-align: center;
}
.nn2{
    margin-left: 21px;
}
.n1{
    float: left;
}
.nummber2{
    margin-left: 50px;
    font-size: 40px;
    color: blue;
}
.d2{
    float: left;
}
.d5{float: left;
}
.d5{
    float: left;
    margin-top: 80px;
}
.d3{
    float: left;}

    .nummber3{
    font-size: 40px;
    color:blue;
}
.d1{
    float: left;
}
    .n3{
        font-weight: bold;
        float: left;
        margin-top: 5px;
        text-align: center;
    }



    
